body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px;
}

.navbar {
    background-color: #414141;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.navbar h1 {
    margin: 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
}

.profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #2c3e50;
}

a {
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

h2 {
    margin-top: 30px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}

a {
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
